<div class="row justify-content-center mt-5">
  <div class="col-md-8 col-12 p-0">

    <div class="row g-2 justify-content-md-end justify-content-center mb-3">
      <div class="col-md-auto col-9 p-0">
        <input #idVal (keyup)="id = +idVal.value; searchCustomer()" [value]="id > 0 ? id : ''" type="text"
          class="form-control" placeholder="Enter member id">
      </div>
      <div class="col-md-auto col">
        <button class="btn btn-danger">
          <i class="bi bi-search"></i>
          <span class="d-md-inline d-none"> Find</span>
        </button>
      </div>
    </div>

    <div class="alert alert-primary text-center" role="alert" *ngIf="!member">
      Search Member with Id. or <a [routerLink]="['/employee', 'member', 'form']" [queryParams]="{checkout: true}"
        class="link-dark">Create New One</a>
    </div>

    <div class="card mb-3" *ngIf="member">
      <div class="card-body">

        <div class="row mb-2 g-3 justify-content-between">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Name</h6>
            <p class="fs-5">{{ member?.name }}</p>
          </div>

          <div class="col-md col-12 text-md-end">
            <h6 class="mb-1 fw-bold text-secondary">Phone</h6>
            <p class="fs-5">{{ member?.phone }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3 justify-content-between">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Email</h6>
            <p class="fs-5">{{ member?.email }}</p>
          </div>

          <div class="col-md col-12 text-md-end">
            <h6 class="mb-1 fw-bold text-secondary">Birth Date</h6>
            <p class="fs-5">{{ member?.dob | date }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3 justify-content-between">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Township</h6>
            <p class="fs-5">{{ member?.township }}</p>
          </div>

          <div class="col-md col-12 text-md-end">
            <h6 class="mb-1 fw-bold text-secondary">Address</h6>
            <p class="fs-5">{{ member?.address }}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-outline-danger" [class.disabled]="!member" (click)="saveCustomer()"
        [routerLink]="['./../discount']">
        Next <i class="bi bi-arrow-right"></i>
      </button>
    </div>

  </div>
</div>