<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/member" class="navbar-brand">Welcome {{ activeUser.name }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/member', 'home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/member', 'purchase']"
            routerLinkActive="active">Purchase Histroy</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown me-2" *ngIf="activeUser.role == 'Admin'">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/public']">To Public</a></li>
            <li><a class="dropdown-item" [routerLink]="['/employee']">To Employee</a></li>
            <li><a class="dropdown-item" [routerLink]="['/owner']">To Owner</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <button class="btn btn-light" (click)="logout()">
            Log Out <i class="bi bi-box-arrow-right"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>