<div class="row justify-content-center">
  <div class="col-lg-7 col-12">
    <div class="bg-white p-4 rounded-3">
      <h4 class="mb-md-4 mb-2 fw-bold text-center">{{ id.value == 0 ? 'Add New Catalog' : 'Catalog Edit' }}</h4>

      <form [formGroup]="form">

        <!-- Category and Catalog Name -->
        <div class="row mb-3 g-3">
          <div class="col-md col-12">
            <app-form-group label="Category" icon="bi-tag" [valid]="categoryId.valid" [touch]="categoryId.touched"
              [dirty]="categoryId.dirty">
              <select formControlName="categoryId" class="form-select">
                <option value="0">Select Category</option>
                <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
              </select>
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group label="Name" icon="bi-card-heading" [valid]="name.valid" [touch]="name.touched"
              [dirty]="name.dirty">
              <input formControlName="name" type="text" class="form-control" placeholder="Enter catalog name">
            </app-form-group>
          </div>
        </div>

        <!-- Weight, Purity and Wastage -->
        <div class="row g-3 mb-3">
          <div class="col-md col-12">
            <app-form-group icon="bi-inbox" label="Weight" [valid]="weight.valid" [touch]="weight.touched"
              [dirty]="weight.dirty">
              <input formControlName="weight" type="number" class="form-control">
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-award" label="Purity" [valid]="purity.valid" [touch]="purity.touched"
              [dirty]="purity.dirty">
              <select formControlName="purity" class="form-select">
                <option value="">Select Purity</option>
                <option *ngFor="let item of purityConst" [value]="item">{{ item }}</option>
              </select>
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-hr" label="Wastage" [valid]="lostWeight.valid" [touch]="lostWeight.touched"
              [dirty]="lostWeight.dirty">
              <input formControlName="lostWeight" type="number" class="form-control">
            </app-form-group>
          </div>
        </div>

        <!-- Original Price and Making Charges-->
        <div class="row g-3 mb-3 px-3">
          <div class="col-md col-12">
            <app-form-group icon="bi-currency-dollar" label="Original Price" [valid]="basedPrice.valid"
              [touch]="basedPrice.touched" [dirty]="basedPrice.dirty">
              <input formControlName="basedPrice" type="number" class="form-control">
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-cash" label="Making Charges" [valid]="goldSmithFees.valid"
              [touch]="goldSmithFees.touched" [dirty]="goldSmithFees.dirty">
              <input formControlName="goldSmithFees" type="number" class="form-control">
            </app-form-group>
          </div>
        </div>

        <!-- remark -->
        <div class="row mb-3">
          <div class="col mx-5">
            <app-form-group icon="bi-card-text" label="Description">
              <textarea formControlName="description" cols="auto" rows="3" class="form-control"
                placeholder="Enter catalog remark"></textarea>
            </app-form-group>
          </div>
        </div>

        <div class="row justify-content-center mb-3">
          <div class="col-auto">
            <input formControlName="soldOut" id="soldOut" type="checkbox" class="form-check-input">
            <label class="ms-2 form-check-label" for="soldOut">Sold Out</label>
          </div>
        </div>

        <button class="btn btn-danger text-white w-100" (click)="saveCatalog()">
          <i class="bi bi-save2"></i> Save
        </button>

      </form>
    </div>
  </div>
</div>