<div class="row justify-content-center">
  <div class="col-lg-7 col-md-10 col-12">
    <div class="bg-white p-4 rounded-3">
      <h4 class="mb-md-4 mb-2 fw-bold text-center">{{ id.value == 0 ? 'Add New Catalog' : 'Catalog Edit' }}</h4>

      <form [formGroup]="form">
        <!-- Category -->
        <label for="categories" class="form-label mb-1">Categories</label>

        <div [ngClass]="categoriesControl.controls.length > 0 ? 'mb-2' : ''">
          <div formArrayName="categories" class="row g-1 chips m-0"
            [class.justify-content-between]="categoriesControl.controls.length > 4">
            <div class="col-auto mt-0" *ngFor="let ctrl of categoriesControl.controls; index as i">
              <input [formControlName]="i" type="text" class="d-none">
              <span class="rounded-pill">{{ ctrl.value.name }}
                <i class="bi bi-x" (click)="removeSelected(i)"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="form-control p-0">
            <div>
              <input #categoryVal formControlName="catInput"
                (keyup.enter)="selectCategory(categoryVal.value); categoryVal.value = ''" type="text" list="categories"
                class="form-control cat-input" placeholder="Type category name and hit enter">
              <datalist id="categories">
                <option *ngFor="let category of categories">{{
                  category.name }}</option>
              </datalist>
            </div>
          </div>
          <span class="input-group-text"><i class="bi"
              [ngClass]="catInput.touched ? (catInput.dirty && categoriesControl.length > 0 ? 'bi-check text-success' : 'bi-x text-danger') : (!catInput.dirty ? 'bi-tags' : (categoriesControl.length > 0 ? 'bi-check text-success' : 'bi-x text-danger'))"></i></span>
        </div>

        <!-- Name -->
        <div class="row mb-3">
          <div class="col">
            <app-form-group label="Name" icon="bi-card-heading" [valid]="name.valid" [touch]="name.touched"
              [dirty]="name.dirty">
              <input formControlName="name" type="text" class="form-control" placeholder="Enter catalog name">
            </app-form-group>
          </div>
        </div>

        <!-- Weight, Purity and Wastage -->
        <div class="row g-3 mb-3">
          <div class="col-md col-12">
            <app-form-group icon="bi-bucket" label="Weight" [valid]="weight.valid" [touch]="weight.touched"
              [dirty]="weight.dirty">
              <input formControlName="weight" type="number" class="form-control">
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-award" label="Purity" [valid]="purity.valid" [touch]="purity.touched"
              [dirty]="purity.dirty">
              <input formControlName="purity" type="number" class="form-control">
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-currency-exchange" label="Wastage" [valid]="lostWeight.valid"
              [touch]="lostWeight.touched" [dirty]="lostWeight.dirty">
              <input formControlName="lostWeight" type="number" class="form-control">
            </app-form-group>
          </div>
        </div>

        <!-- Original Price and Making Charges-->
        <div class="row g-3 mb-3 px-3">
          <div class="col-md col-12">
            <app-form-group icon="bi-currency-dollar" label="Original Price" [valid]="basedPrice.valid"
              [touch]="basedPrice.touched" [dirty]="basedPrice.dirty">
              <input formControlName="basedPrice" type="number" class="form-control">
            </app-form-group>
          </div>
          <div class="col-md col-12">
            <app-form-group icon="bi-cash" label="Making Charges" [valid]="goldSmithFees.valid"
              [touch]="goldSmithFees.touched" [dirty]="goldSmithFees.dirty">
              <input formControlName="goldSmithFees" type="number" class="form-control">
            </app-form-group>
          </div>
        </div>

        <!-- remark -->
        <div class="row mb-3">
          <div class="col mx-5">
            <app-form-group icon="bi-card-text" label="Description">
              <textarea formControlName="description" cols="auto" rows="3" class="form-control"
                placeholder="Enter catalog remark"></textarea>
            </app-form-group>
          </div>
        </div>

        <button class="btn btn-danger text-white w-100" (click)="saveCatalog()">
          <i class="bi bi-save2"></i> Save
        </button>

      </form>
    </div>
  </div>
</div>