<div class="row justify-content-between g-2">
  <div class="col-md-auto col-12">
    <a class="btn btn-danger text-white w-100" [routerLink]="['/employee', 'member', 'form']"
      [queryParams]="{update: false}">
      <i class="bi bi-plus-lg"></i> Add Member
    </a>
  </div>
  <div class="col-md-auto col-12">
    <button class="btn btn-danger text-white w-100" (click)="excleInput.click()">
      <i class="bi bi-cloud-upload"></i> Upload Locations
    </button>
  </div>
</div>

<form action="#" class="d-none" method="post">
  <input type="file" #excleInput (change)="uploadLocations(excleInput.files!)">
</form>

<div class="bg-white mt-3 p-3 pb-4">

  <div class="row mb-3">
    <div class="col-md-auto col-12">
      <div class="row g-2">
        <div class="col-xl col-md-4 col-12">
          <label for="name" class="form-label mb-1">Name</label>
          <input #nameVal id="name" (keyup)="params.name = nameVal.value; search()" type="text" class="form-control"
            placeholder="Member name">
        </div>
        <div class="col-xl col-md-4 col-12">
          <label for="phone" class="form-label mb-1">Phone</label>
          <input #phoneVal id="phone" (keyup)="params.phone = phoneVal.value; search()" type="tel" class="form-control"
            placeholder="Phone number">
        </div>
        <div class="col-xl col-md-4 col-12">
          <label for="from" class="form-label mb-1">Date From</label>
          <input #fromVal id="from" (change)="params.from = fromVal.value; search()" type="date" class="form-control">
        </div>
        <div class="col-xl col-md-4 col-12">
          <label for="to" class="form-label mb-1">Date To</label>
          <input #toVal id="to" (change)="params.to = toVal.value; search()" type="date" class="form-control">
        </div>
        <div class="col-xl-auto col-md-4 col-12 align-self-end">
          <button class="btn btn-danger text-white w-100" (click)="search()">
            <i class="bi bi-search"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-no-data label="Member" *ngIf="!members.length" [marginTop]="true"></app-no-data>

  <table class="table table-striped table-hover table-responsive" *ngIf="members.length">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Register Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let member of members">
        <td>{{ member.name }}</td>
        <td>{{ member.gender }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.dob | date }}</td>
        <td>{{ member.registrationDate | date: 'MMM dd, yyyy HH:mm'}}</td>
        <td>
          <div class="dropdown">
            <i class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/employee', 'member', 'form']"
                  [queryParams]="{id: member.id, update: true}"><i class="bi bi-pencil me-3"></i>Edit</a></li>
              <li><a class="dropdown-item" [routerLink]="['/employee', 'member', 'detail']"
                  [queryParams]="{id: member.id}"><i class="bi bi-send me-3"></i>Detail</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<app-success-dialog [modalTitle]="infoHeader" [message]="infoMessage"
  modalId="locationModalDialogId"></app-success-dialog>