<div class="row justify-content-between g-2">
  <div class="col-md-auto col-12">
    <button class="btn btn-danger text-white w-100" [routerLink]="['/employee/member-form']">
      <i class="bi bi-plus-lg"></i> Add Member
    </button>
  </div>
  <div class="col-md-auto col-12">
    <div class="row g-2">
      <div class="col-md-auto col-10">
        <input type="text" class="form-control" placeholder="Member Info">
      </div>
      <div class="col-md-auto col-2">
        <button class="btn btn-danger text-white w-100">
          <i class="bi bi-search"></i>
          <span class="d-none d-md-inline"> Search</span>
        </button>
      </div>
    </div>
  </div>
</div>