<div class="row justify-content-between g-2">
  <div class="col-md-auto col-12">
    <button class="btn btn-danger text-white w-100" [routerLink]="['/employee', 'member', 'form']">
      <i class="bi bi-plus-lg"></i> Add Member
    </button>
  </div>
  <div class="col-md-auto col-12">
    <div class="row g-2">
      <div class="col-md-auto col-10">
        <input #infoVal (keyup)="params.keyword = infoVal.value; search()" type="text" class="form-control"
          placeholder="Member Info">
      </div>
      <div class="col-md-auto col-2">
        <button class="btn btn-danger text-white w-100" (click)="search()">
          <i class="bi bi-search"></i>
          <span class="d-none d-md-inline"> Search</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-no-data label="Member" *ngIf="!members.length" [marginTop]="true"></app-no-data>

<div class="mt-3 bg-white rounded-3 p-3" *ngIf="members.length">

  <div class="row g-3 ps-2">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let mem of members">
      <div class="card">
        <div class="card-img-top bg-secondary" style="height: 100px;"></div>
        <div class="card-body position-relative">

          <img class="img-thumbnail rounded-circle position-absolute top-0 start-50 translate-middle"
            [src]="mem.profileImage ?? mem.gender == 'Male' ? '/assets/profile-man.png' : '/assets/profile-woman.png'"
            width="40%">

          <p class="fw-bold fs-5 text-center" style="margin-top: 55px;">{{ mem.name }}</p>

          <div class="mb-2">
            <h6 class="text-secondary mb-1">Email</h6>
            <p class="fs-6">{{ mem.email }}</p>
          </div>

          <div class="mb-2">
            <h6 class="text-secondary mb-1">Phone</h6>
            <p class="fs-6">{{ mem.phone }}</p>
          </div>

          <div class="mb-2">
            <h6 class="text-secondary mb-1">NRC</h6>
            <p class="fs-6">{{ mem.nrc }}</p>
          </div>

          <div class="text-end mt-3">
            <a class="icon-link icon-link-hover text-decoration-none fs-6 me-3"
              [routerLink]="['/employee', 'member', 'form']" [queryParams]="{id: mem.id}">
              Edit
              <i class="bi bi-pencil mb-2"></i>
            </a>
            <a class="icon-link icon-link-hover text-decoration-none fs-6"
              [routerLink]="['/employee', 'member', 'detail']" [queryParams]="{id: mem.id}">
              Detail
              <i class="bi bi-send mb-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>