<div class="row g-3 mb-3">
  <div class="col-lg-7 col-12">
    <img src="/assets/no-image-for-admin.png" class="img-fluid catalog-no-image w-100" (click)="imageUpload.click()"
      *ngIf="!images?.length">

    <!-- Catalog Images -->
    <div class="bg-white p-2" *ngIf="images?.length">
      <app-catalog-detail-images [status]="uploadStatus" [images]="images"></app-catalog-detail-images>

      <div class="mt-2 mb-1 text-center">
        <button class="btn btn-warning" *ngIf="images.length && uploadStatus" (click)="uploadImages()">Upload
          Images</button>

        <button class="btn btn-warning" *ngIf="images.length && !uploadStatus" (click)="imageUpload.click()">Choose New
          Images</button>
      </div>
    </div>

    <app-catalog-detail-info-for-only-owner [catalog]="catalog"
      *ngIf="activeUser.role == 'Owner' || activeUser.role == 'Admin'"></app-catalog-detail-info-for-only-owner>
  </div>

  <!-- Catalog Info -->
  <div class="col">
    <app-catalog-detail-info [catalog]="catalog" [activeUser]="activeUser">
      <div class="row g-3">
        <div class="col-md col-12">
          <button class="btn btn-danger text-white w-100">
            <i class="bi bi-image"></i> Set Cover Image
          </button>
        </div>

        <div class="col-md col-12">
          <a class="btn btn-outline-danger w-100" [routerLink]="['/employee', 'catalog', 'form']"
            [queryParams]="{id: catalog?.id}">
            <i class="bi bi-pencil"></i> Edit
          </a>
        </div>
      </div>
    </app-catalog-detail-info>
  </div>


</div>

<form action="#" class="d-none">
  <input #imageUpload type="file" accept="images/*" multiple (change)="showImage($event)">
</form>

<app-success-dialog modalId="imageUploadModalDialogId" modalTitle="Image Upload"
  message="Image uploaded successfully."></app-success-dialog>