<div class="row g-3">

  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <h5>Profile Picture</h5>
      </div>
      <div class="card-body text-center">
        <img
          [src]="member.profileImage ?? member.gender == 'Male' ? '/assets/profile-man.png' : '/assets/profile-woman.png'"
          class="img-thumbnail rounded-circle profile-image">

        <div class="mt-3">
          <button class="btn btn-danger text-white">
            <i class="bi bi-upload"></i> Upload New Photo
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg col-12">
    <div class="card">

      <div class="card-header">
        <h5>Member Detail</h5>
      </div>

      <div class="card-body">
        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Name</h6>
            <p class="fs-5">{{ member.name }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">Email</h6>
            <p class="fs-5">{{ member.email }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Phone</h6>
            <p class="fs-5">{{ member.phone }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">NRC</h6>
            <p class="fs-5">{{ member.nrc }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Gender</h6>
            <p class="fs-5">{{ member.gender }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">Address</h6>
            <p class="fs-5">{{ member.address }}</p>
          </div>
        </div>

        <div class="row mb-2" *ngIf="member.remark">
          <div class="col">
            <h6 class="mb-1 fw-bold text-secondary">Remark</h6>
            <p class="fs-5">{{ member.remark }}</p>
          </div>
        </div>

        <div>
          <a [routerLink]="['../', 'management']" class="btn btn-outline-danger">To Member List</a>
        </div>
      </div>

    </div>
  </div>
</div>