<div class="row g-3">

  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <h5>Profile Picture</h5>
      </div>
      <div class="card-body text-center">
        <img
          [src]="member?.profileImage ? (member?.profileImage | apiImage) : (member?.gender == 'Male' ? '/assets/profile-man.png' : '/assets/profile-woman.png')"
          class="img-thumbnail rounded-circle profile-image">

        <div class="my-3">
          <h5 class="fw-bold">{{ member?.name }}</h5>
          <p class="mb-1 text-secondary">{{ member?.phone }}</p>
          <p class="mb-1 text-secondary">{{ member?.email }}</p>
        </div>

        <button class="btn btn-danger text-white" (click)="profileImageFile.click()">
          <i class="bi bi-upload"></i> Upload New Photo
        </button>
      </div>
    </div>
  </div>

  <form action="#" class="d-none">
    <input #profileImageFile type="file" accept="image/*" (change)="uploadProfileImage(profileImageFile.files!)">
  </form>

  <div class="col-lg col-12">

    <div class="card">

      <div class="card-header">
        <h5>Member Detail</h5>
      </div>

      <div class="card-body">
        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Birth Date</h6>
            <p class="fs-5">{{ member?.dob | date }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">Gender</h6>
            <p class="fs-5">{{ member?.gender }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Registration Date</h6>
            <p class="fs-5">{{ member?.registrationDate | date: 'MMM dd, yyyy HH:mm' }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">State</h6>
            <p class="fs-5">{{ member?.state ?? 'Not Yet' }}</p>
          </div>
        </div>

        <div class="row mb-2 g-3">
          <div class="col-md-5 col-12">
            <h6 class="mb-1 fw-bold text-secondary">Township</h6>
            <p class="fs-5">{{ member?.township }}</p>
          </div>

          <div class="col-md col-12">
            <h6 class="mb-1 fw-bold text-secondary">Address</h6>
            <p class="fs-5">{{ member?.address }}</p>
          </div>
        </div>

        <a [routerLink]="['../', 'management']"
          class="icon-link icon-link-primary icon-link-hover text-decoration-none fs-6">
          To Member List <i class="bi bi-arrow-right mb-1"></i>
        </a>
      </div>

    </div>

    <div class="card mt-3">

      <div class="card-header">
        <h5>Purchase History</h5>
      </div>

      <div class="card-body">

        <app-no-data label="Purchase History" *ngIf="purchases.length <= 0"></app-no-data>

        <table class="table table-striped table-hover" *ngIf="purchases.length">
          <thead>
            <tr>
              <th>Issued Date</th>
              <th>Item Count</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of purchases">
              <td>{{ purchase.issuedAt | date }}</td>
              <td>{{ purchase.itemCount }}</td>
              <td>{{ purchase.total | number }} MMK</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-success-dialog [modalTitle]="successHeader" [message]="successMessage"
    modalId="uploadImageModalDialogId"></app-success-dialog>