<div class="row g-3">
  <div class="col-lg-7 col-12" *ngIf="!images?.length">
    <img src="/assets/no-image.png" class="img-fluid border">
  </div>

  <div class="col-lg-7 col-12" *ngIf="images?.length">
    <!-- Catalog Images -->
    <div class="bg-white p-2">
      <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="d-md-none d-block">
          <div class="carousel-indicators">
            <button *ngIf="images.length >= 1" type="button" data-bs-target="#carouselExample" data-bs-slide-to="0"
              class="active" aria-current="true" aria-label="Slide 1"></button>
            <button *ngIf="images.length >= 2" type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
              aria-current="true" aria-label="Slide 2"></button>
            <button *ngIf="images.length >= 3" type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
              aria-current="true" aria-label="Slide 3"></button>
            <button *ngIf="images.length >= 4" type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"
              aria-current="true" aria-label="Slide 4"></button>
            <button *ngIf="images.length >= 5" type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"
              aria-current="true" aria-label="Slide 5"></button>
          </div>
        </div>
        <div class="carousel-inner">
          <ng-container *ngFor="let image of images">
            <div class="carousel-item active" [class.active]="activeCarousel == image">
              <img class="d-block w-100 image-responsive" src="{{ image }}" #ig (click)="activeCarousel = ig.src">
            </div>
          </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-none d-md-block">
        <div class="d-flex my-1 gap-1">
          <img *ngFor="let image of images" [src]="image" class="col img-thumbnail carousel-img-indicator"
            (click)="activeCarousel = image">
        </div>
      </div>
    </div>
  </div>

  <!-- Catalog Info -->
  <div class="col">
    <div class="bg-white p-3 pt-4">
      <div class="row">
        <div class="col-auto">
          <h4 class="fw-bold mb-1">{{ catalog.name }}</h4>
          <h6 class="text-secondary">{{ catalog.categoryId | categoryName }}</h6>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-auto">
          <h4 class="fw-bold">{{ catalog.price | number }}<span class="text-secondary fs-6"> MMK</span></h4>
        </div>
      </div>

      <button class="btn {{ isExist ? 'btn-dark' : 'btn-danger' }} text-white w-100 mt-3" [class.disabled]="isExist"
        (click)="addToCart()">
        <i class="bi bi-{{ isExist ? 'check' : 'cart-plus'}}"></i> {{ isExist ? 'Already Added' : 'Add To Cart' }}
      </button>

      <div class="row g-3 justify-content-between mt-3">
        <div class="col-md-auto col-12">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-award"></i> Purity
          </h5>
          <h5 class="fs-5 fw-bold">{{ catalog.purity }}</h5>
        </div>
        <div class="col-auto text-md-end">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-cash"></i> Making Charges
          </h5>
          <h5 class="fs-5 fw-bold">{{ catalog.goldSmithFees }} MMK</h5>
        </div>
      </div>

      <div class="row g-3 justify-content-between mt-3">
        <div class="col-auto">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-bucket"></i> Weight
          </h5>
          <h5 class="fs-5 fw-bold">{{ catalog.weight }} YWE</h5>
        </div>
        <div class="col-auto text-md-end">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-currency-exchange"></i> Wastage
          </h5>
          <h5 class="fs-5 fw-bold">{{ catalog.lostWeight }} YWE</h5>
        </div>
      </div>

      <div class="row g-3 justify-content-between mt-3">
        <div class="col-auto">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-currency-dollar"></i> Original Price
          </h5>
          <h5 class="fs-5 fw-bold">{{ catalog.basedPrice }} MMK</h5>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <h5 class="text-secondary mb-1">
            <i class="bi bi-bucket"></i> Description
          </h5>
          <p style="text-align: justify; font-size: 1.05rem;">{{ catalog.description }}</p>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-md col-12">
          <button class="btn btn-danger text-white w-100">
            <i class="bi bi-image"></i> Set Cover Image
          </button>
        </div>

        <div class="col-md col-12">
          <a class="btn btn-outline-danger w-100" [routerLink]="['/employee', 'catalog', 'form']"
            [queryParams]="{id: catalog.id}">
            <i class="bi bi-pencil"></i> Edit
          </a>
        </div>
      </div>

    </div>
  </div>
</div>