<div class="row">
  <div class="col-md-auto col-12">
    <button class="btn btn-danger text-white w-100" [routerLink]="['/employee', 'catalog', 'form']">
      <i class="bi bi-plus-lg"></i> Add Catalog
    </button>
  </div>
</div>

<div class="bg-white mt-3 p-3 pb-4">

  <!-- Catalog Search -->
  <div class="row g-2 mb-3">
    <div class="col-xl col-md-4 col-12">
      <label for="category" class="form-label mb-1">Category</label>
      <select #idVal class="form-select" id="category" (change)="params.categoryId = +idVal.value; search()">
        <option value="0">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="col-xl col-md-4 col-12">
      <label for="name" class="form-label mb-1">Catalog Name</label>
      <input #nameVal id="name" (keyup)="params.name = nameVal.value; search()" type="text" class="form-control"
        placeholder="Catalog name">
    </div>
    <div class="col-xl col-md-4 col-12">
      <label for="creation" class="form-label mb-1">Creation Date</label>
      <input #createFormVal id="creation" (change)="params.createFrom = createFormVal.value; search()" type="date"
        class="form-control">
    </div>
    <div class="col-xl col-md-4 col-12">
      <label for="priceFrom" class="form-label mb-1">Price Form</label>
      <input #priceFromVal id="priceFrom" (keyup)="params.priceFrom = + priceFromVal.value; search()" type="number"
        min="0" value="0" class="form-control">
    </div>
    <div class="col-xl col-md-4 col-12">
      <label for="priceTo" class="form-label mb-1">Price To</label>
      <input #priceToVal id="priceTo" (keyup)="params.priceTo = + priceToVal.value; search()" type="number" min="0"
        value="0" class="form-control">
    </div>
    <div class="col-xl-auto col-md-4 col-12 align-self-end">
      <label for="soldOut" class="form-label mb-1">Sold Out</label>
      <select #soldOutVal (change)="params.soldOut = parseBool(soldOutVal.value); search()" class="form-select"
        id="soldOut">
        <option value="false">False</option>
        <option value="true">True</option>
      </select>
    </div>
    <div class="col-xl-auto col-md-4 col-12 align-self-end">
      <button class="btn btn-danger text-white w-100" (click)="search()">
        <i class="bi bi-search"></i>
        Search
      </button>
    </div>
  </div>

  <app-no-data label="Catalog" [marginTop]="true" *ngIf="!catalogs.length"></app-no-data>

  <!-- Catalog List -->
  <div class="row g-2" *ngIf="catalogs.length">

    <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let catalog of catalogs">

      <a class="card-link h-100" [routerLink]="['/employee', 'catalog', 'detail']" [queryParams]="{id: catalog.id}">
        <div class="card h-100">
          <img class="card-img-top"
            [src]="catalog?.coverImage ? (catalog?.coverImage | apiImage) : '/assets/no-image.png'" height="170px">

          <div class="card-body p-3">

            <div class="d-flex flex-column justify-content-sm-between h-100">
              <div>
                <p class="text-center fw-bold mb-1 fs-5">{{ catalog?.name }}</p>
                <p class="text-center fs-5">{{ catalog?.salePrice | number }} MMK</p>
              </div>

              <div class="row g-2 mb-3 justify-content-between">
                <div class="col-md-auto col-12">
                  <h6 class="text-secondary mb-0">Category</h6>
                  <p class="mb-0">{{ catalog?.categoryName }}</p>
                </div>
                <div class="col-md-auto col-12 text-md-end">
                  <h6 class="text-secondary mb-0">Purity</h6>
                  <p class="mb-0">{{ catalog?.purity }}</p>
                </div>
              </div>

              <div class="row g-2 mb-2 justify-content-between">
                <div class="col-md-auto col-12">
                  <h6 class="text-secondary mb-0">Weight</h6>
                  <p class="mb-0">{{ catalog?.weight | goldWeight }}</p>
                </div>
                <div class="col-md-auto col-12 text-md-end">
                  <h6 class="text-secondary mb-0">Wastage</h6>
                  <p class="mb-0">{{ catalog?.lostWeight | goldWeight }}</p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </a>
    </div>
  </div>

  <app-pagination class="mt-3" [sizes]="sizes" alighment="end"></app-pagination>

</div>