<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-{{modalIcon}}"></i> {{ modalTitle }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-{{btnColor}}"
          [class.text-white]="btnColor == 'success' || btnColor == 'danger'" data-bs-dismiss="modal"><i
            class="bi bi-x"></i>
          Close</button>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>